body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.ami{
    color: orange;
}
section{
    display: flex;
}
.half{
    width: 65%;
    padding: 3%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.thik{
    width: 100%;
    padding: 40px 300px;
}
.tumi{
    text-decoration: none;
    background-color: orangered;
    padding: 10px 30px;
    border-radius: 10px;
    font-weight: 700;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.web{
    display: flex;
    padding: 30px 50px;
}
.net{
    box-shadow: 5px 5px 5px;
    margin-left: 5%;
    margin-right: 5%;
}